@{
    ViewData["Title"] = "About Page";
}
<div class="bg-light">
   
<h1 class="text-dark">About Me</h1>

    <p class="text-dark"> I am a dedicated Certified Full Stack Web Developer from WozU Web Development Boot Camp and have 3 years experience working with various languages. I am currently seeking full-time, contract, and freelance
        jobs.  I would love to have the opportunity to put my skills to work for you.   Please contact me today at <a href="mailto:daniel@danielfanelli.me">daniel@danielfanelli.me</a>.
    </p>
<h2 class="text-dark">Skills</h2>
</div>