@{
    ViewData["Title"] = "Home Page";
}
<div id="techpic">
<div class="text-center">
<h2 class="text-center text-white">Are you looking for a site?</h2>
 
</div>
</div>
<div class="skills">
    <div class="container">
    HTML CSS and more
    </div>
</div>
</div>
